<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body class="masterhead">

<div class="container">

    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h3 class="font-weight-light content">Welcome to simple Cosmic Project App.
                <span class="content-header">Enjoy!</span>
            </h3>
            <a href="/planets" class="btn btn-danger">Solar system admin panel</a>
            <a href="/excel" class="btn btn-danger">Create file</a>
            <hr>
        </div>
    </div>

    <div class="row">
        <div th:replace="fragments/overview :: planets"></div>
    </div>

</div>


</body>

</html>